@import url('https://fonts.googleapis.com/css2?family=Genos&family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.content {
  background-color: hsl(0, 0%, 100%);
  max-width: 300px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 16px;
}

.qrimage {
  border-radius: 16px;
  width: 100%;
}

.text {
  margin-inline: 16px;
}

.text h1 {
  color:hsl(218, 44%, 22%);
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 22px;
}

.text p {
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding-bottom: 16px;
}